Créé et maintenu par <a href="https://github.com/gtoubiana/">{{ author }}</a> - 2015-Présent<br>
<a href="{{ homepage }}">Code</a> sous licence <a href="{{ homepage }}/blob/master/LICENSE">{{ license }}</a>, <a href="{{ homepage }}/blob/master/dist/README.md">documentation</a> sous licence <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC BY 4.0</a>.
