![logo](docs/img/logo-violet.png "Logo de la librairie {{ name }}.js")
# {{ name }} v{{ version }}
[![NPM version](https://img.shields.io/npm/v/acte.svg)](https://www.npmjs.com/package/acte)
[![Build Status](https://img.shields.io/travis/gtoubiana/acte.svg)](https://travis-ci.org/gtoubiana/acte)
[![devDependency Status](https://img.shields.io/david/dev/gtoubiana/acte.svg?maxAge=2592000)](https://david-dm.org/gtoubiana/acte?type=dev)
[![Code Climate](https://codeclimate.com/github/gtoubiana/acte/badges/gpa.svg)](https://codeclimate.com/github/gtoubiana/acte)
[![Coverage Status](https://coveralls.io/repos/github/gtoubiana/acte/badge.svg?branch=master&bust=1)](https://coveralls.io/github/gtoubiana/acte?branch=master)
[![Inline docs](http://inch-ci.org/github/gtoubiana/acte.svg?branch=master)](http://inch-ci.org/github/gtoubiana/acte)
[![airbnb-style](https://img.shields.io/badge/code%20style-airbnb-blue.svg)](http://nerds.airbnb.com/our-javascript-style-guide/)

## Sommaire
 - [Description](#description)
 - [Installation](#installation)
 - [Structure](#structure)
 - [Compatibilité](#compatibilite)
 - [Documentation](#documentation)
 - [Licence](#licence)
<a name="description"></a>

## Description
{{ description }}.
<a name="installation"></a>

## Installation
Plusieurs options s'offrent à vous :
 - Télécharger la dernière version ([{{ name }}-{{ version }}-dist.zip]({{ homepage }}/blob/master/dist/{{ name }}-{{ version }}-dist.zip?raw=true))
 - Installer avec [npm](https://www.npmjs.com/) : `npm install {{ name }} --save`
<a name="structure"></a>

## Structure
Au sein de votre téléchargement, vous trouverez les fichiers et dossiers suivants :
```
acte
└── dist
    ├── {{ name }}-{{ version }}-dist.zip
    ├── {{ name }}.min.js
    ├── {{ name }}.min.js.map
    └── README.md
```
L'archive `.zip` contient le script dans sa version minifiée, une source map pour déboguer et un fichier README écrit en markdown, contenant la documentation pour les développeurs.

<a name="compatibilite"></a>

## Compatibilité
[![Sauce Test Status](https://saucelabs.com/browser-matrix/gtoubiana.svg)](https://saucelabs.com/u/gtoubiana)
Le script fonctionne également avec Internet Explorer 8 pour le moment.
<a name="documentation"></a>

## Documentation
 - [API]({{ homepage }}/blob/master/dist/README.md#documentation-de-acte) générée par jsdoc-to-markdown.
 - [Tests unitaires]({{ homepage }}/blob/master/test/jasmine/acteSpec.js) rédigés pour Node et Jasmine.
 - [Quelques Exemples et recettes]({{ homepage }}/blob/master/test/spec-Recettes.js).
 - Essayez la librairie dans votre navigateur avec [tonicdev](https://tonicdev.com/npm/acte).
<a name="licence"></a>

## Licence
{{ name }} est créé et maintenu par [Gilles Toubiana](https://github.com/gtoubiana/) - 2015-Présent.<br>
[Code](https://github.com/gtoubiana/acte) sous licence [MIT](https://github.com/gtoubiana/acte/blob/master/LICENSE), [documentation](https://github.com/gtoubiana/acte/blob/master/dist/README.md) sous licence [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/deed.fr).
