![logo](docs/img/logo-violet.png "Logo de la librairie {{ name }}.js")<br>
[![NPM version](https://img.shields.io/npm/v/acte.svg)](https://www.npmjs.com/package/acte)
[![Build Status](https://img.shields.io/travis/gtoubiana/acte.svg)](https://travis-ci.org/gtoubiana/acte)
[![devDependency Status](https://img.shields.io/david/dev/gtoubiana/acte.svg?maxAge=2592000)](https://david-dm.org/gtoubiana/acte?type=dev)
[![Coverage Status](https://coveralls.io/repos/github/gtoubiana/acte/badge.svg?branch=master&bust=1)](https://coveralls.io/github/gtoubiana/acte?branch=master)
> {{ description }}.

## Table des matières
-   [Installation](#installation)
    -   [Options disponibles](#options)
    -   [Structure des fichiers](#structure)
    -   [Compatibilité](#compatibilite)
-   [Utilisation](#utilisation)
    -   [Exemples](#exemples)
    -   [Documentation](#documentation)
-   [Participants actifs](#membres)
-   [Contribuer](#contributing)
-   [Licence](#licence)

<a name="installation"></a>
## Installation

<a name="options"></a>
#### Options disponibles
-   Télécharger la dernière archive ([{{ name }}-{{ version }}-dist.zip]({{ homepage }}/blob/master/dist/{{ name }}-{{ version }}-dist.zip?raw=true))
-   Installer avec [npm](https://www.npmjs.com/) : `npm install {{ name }} --save`

<a name="structure"></a>
#### Structure des fichiers
L'archive `.zip` contient le script dans sa version minifiée, une source map pour déboguer et un fichier README écrit en markdown, contenant la documentation pour les développeurs.
```
acte
└── dist
    ├── {{ name }}-{{ version }}-dist.zip
    ├── {{ name }}.min.js
    ├── {{ name }}.min.js.map
    └── README.md
```

<a name="compatibilite"></a>
#### Compatibilité
[![Sauce Test Status](https://saucelabs.com/browser-matrix/gtoubiana.svg)](https://saucelabs.com/u/gtoubiana)

<a name="utilisation"></a>
## Utilisation

<a name="exemples"></a>
#### Exemples
-   Essayez la librairie dans votre navigateur avec [RunKit](https://runkit.com/gtoubiana/fonctionnement-de-la-librairie-acte-js).
-   [Autres exemples d'utilisation avec RunKit](https://runkit.com/gtoubiana/recettes-pour-la-librairie-acte-js).

<a name="documentation"></a>
#### Documentation
-   [Documentation]({{ homepage }}/blob/master/dist/README.md#documentation-de-acte) générée par jsdoc-to-markdown.
-   [Tests unitaires]({{ homepage }}/blob/master/test/jasmine/acteSpec.js) rédigés pour Node et Jasmine.

<a name="membres"></a>
## Participants actifs
-   [Gilles Toubiana](https://github.com/gtoubiana/) - <mailto:gilles.toubiana@yahoo.fr>

<a name="contributing"></a>
## Contribuer
Si vous souhaitez participer au développement de cette librairie, commençez par lire les [règles de contribution](https://github.com/gtoubiana/acte/blob/master/CONTRIBUTING.md), ou contactez l'auteur du script.

<a name="licence"></a>
## Licence
{{ name }} est une création de [Gilles Toubiana](https://github.com/gtoubiana/) - 2015-Présent.<br>
[Code](https://github.com/gtoubiana/acte) sous licence [MIT](https://github.com/gtoubiana/acte/blob/master/LICENSE), [documentation](https://github.com/gtoubiana/acte/blob/master/dist/README.md) sous licence [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/deed.fr).
